/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweetalert
 *= require bootstrap
 *= require homer
 *= require_self

 */
.odstep {
    padding-right: 240px;
    padding-left: 240px;
}
.custom-red .panel-body{
	background-color: red!important;
}

/* navbar */

/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color:		#F8F8F8 ;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #62cb31 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #000 !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: red !important;
}

.restaurant-col {
    background: url("rest.jpg") no-repeat;
    background-position: center;
    background-clip: content-box;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: block; 
    height:720px; 
    z-index:1;
    max-width: 100%; 
    max-width: inherit
    padding-right:100px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
.work-col {
    background: url("work.jpg") no-repeat;
    background-position: center;
    background-clip: content-box;
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: block; 
    height:720px; 
    z-index:1;
    max-width: 100%; 
    max-width: inherit
    padding-right:100px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  

}
.backgroundImageCVR{
    position:relative;
    padding:15px;
}
.contentt{

    position:relative;
    z-index:2;
    color:#fff;
}
