/* old */
body.main { 

    background-color: red;
    /*background: url(images/bg.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}


.grupa {
	display:block;
    width: 40em;  height: 7em;
    border: 5px solid black;
    background-color: gray;
}

#menu {
    width: 20em;  height: 3em;
    border: 5px solid white;
    
}
#zamowienie {
    width: 40em;  height: 7em;
    border: 5px solid yellow;

}
#neworder {
    width: 40em;  height: 7em;
    border: 5px solid red;
    font-style: italic;

}
/****************************************************************/

#zatwierdz{
    text-align: center;
}

.wrap {
    width: 100%;
}

.floatleft {
    float:left; 
    width: 50%;
    overflow-y: scroll;
    height:420px;
}

.floatright {
float: right;
    width: 50%;
    overflow-y: scroll;
    height:320px;
}
.floatleftt {
    float:left;
    width: 50%;
}

.floatrightt {
float: right;
    width: 50%;
}